<div class="columns has-background-primary">
  <div class="column">
    <section class="hero is-medium">
      <div class="hero-body">
        <p class="title is-size-1 has-text-weight-bold">
          The Best Way to Learn Three.js
        </p>
        <p class="subtitle">
          by Sajjad Shaikh
        </p>
        <p>
          Have you ever wanted to create stunning 3D websites?
        </p>
        <p>
          In 45 hours of video, this course will teach you the secrets to create the coolest WebGL websites with
          Three.js whether your are a beginner or an advanced developer
        </p>
        <button routerLink="/form" class="button is-light is-outlined mt-5 is-rounded">Start learning now</button>
      </div>
    </section>
  </div>
  <div class="column center-block">
    <figure class="image is-3by2">
      <img class="has-light-shadow" src="../assets/svg/Saly-19.svg" alt="image">
    </figure>
  </div>
</div>
<div class="columns has-background-white">
  <div class="column center-block">
    <figure class="image is-3by2">
      <img class="has-light-shadow" src="../assets/svg/Saly-13.svg" alt="image">
    </figure>
  </div>
  <div class="column">
    <section class="hero is-medium">
      <div class="hero-body">
        <p class="title is-size-1 has-text-black has-text-weight-bold">
          Get good at Three.js with only <a href="/">one course</a>
        </p>
        <p class="subtitle has-text-black">
          Joining Three.js Journey will give you lifetime access to a complete and easy to access course with 39 lessons.
        </p>
        <p class="has-text-black">Want to see what's included? Check out the video down below:</p>
        <button class="button is-light mt-5 is-rounded">Explore more</button>
      </div>
    </section>
  </div>
</div>
