<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Hero -->
<div class="columns has-background-primary">
  <div class="column">
    <section class="hero is-medium">
      <div class="hero-body">
        <p class="title is-size-1 has-text-weight-bold">
          The Best Way to Learn
        </p>
        <p class="subtitle">
          by Sajjad Shaikh
        </p>
        <p>
          Have you ever wanted to create stunning 3D websites?
          In 45 hours of video, this course will teach you the secrets to create the coolest WebGL websites with Three.js whether your are a beginner or an advanced developer
        </p>
        <button class="button is-light is-outlined mt-5 is-rounded">Register</button>
      </div>
    </section>
  </div>
  <div class="column center-block">
    <figure class="image is-3by2">
      <img class="has-light-shadow" src="../assets/svg/Saly-19.svg" alt="image">
    </figure>
  </div>
</div>


<!-- footer -->
<app-footer></app-footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
