<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Hero -->
<app-hero></app-hero>

<!-- Cards -->
<section class="section">
  <p class="title has-text-centered">Is this course for you?</p>
  <p class="subtitle has-text-centered">The course is beginner friendly</p>
  <div class="container">
		<!-- 	Card 1	 -->
		<div class="card">
			<div class="card-image">
				<figure class="image">
					<img src="../assets/svg/Sample 33.svg" alt="Placeholder image">
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p class="subtitle">You don't need to have done WebGL or Three.js before.</p>
          <a>@bulmaio</a> <a href="#">#css</a> <a href="#">#responsive</a>
					<br>
          <p>This training is intended for absolute beginners and will explain the basics before tackling more advanced topics.</p>
				</div>
			</div>
		</div>
		<!-- 	Card 2	 -->
		<div class="card">
			<div class="card-image">
				<figure class="image">
					<img src="../assets/svg/Sample 34.svg" alt="Placeholder image">
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p class="subtitle">You don't have to be good at mathematics.</p>
          <a>@bulmaio</a> <a href="#">#css</a> <a href="#">#responsive</a>
					<br>
          <p>
            Yes, we're going to do mathematics, but at a simple level and we will explain how it works with drawings and practice slowly.
          </p>
				</div>
			</div>
		</div>
		<!-- 	Card 3	 -->
    <div class="card">
			<div class="card-image">
				<figure class="image">
					<img src="../assets/svg/Sample 32.svg" alt="Placeholder image">
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p class="subtitle">You don't have to be good at mathematics.</p>
          <a>@bulmaio</a> <a href="#">#css</a> <a href="#">#responsive</a>
					<br>
          <p>
            Yes, we're going to do mathematics, but at a simple level and we will explain how it works with drawings and practice slowly.
          </p>
				</div>
			</div>
		</div>
		
    <!--  Card 4  -->
    <div class="card">
			<div class="card-image">
				<figure class="image">
					<img src="../assets/svg/Sample 35.svg" alt="Placeholder image">
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p class="subtitle">You don't have to be good at mathematics.</p>
          <a>@bulmaio</a> <a href="#">#css</a> <a href="#">#responsive</a>
					<br>
          <p>
            Yes, we're going to do mathematics, but at a simple level and we will explain how it works with drawings and practice slowly.
          </p>
				</div>
			</div>
		</div>

    <!--  Card 5  -->
    <div class="card">
			<div class="card-image">
				<figure class="image">
					<img src="../assets/svg/Sample 36.svg" alt="Placeholder image">
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<p class="subtitle">You don't have to be good at mathematics.</p>
          <a>@bulmaio</a> <a href="#">#css</a> <a href="#">#responsive</a>
					<br>
          <p>
            Yes, we're going to do mathematics, but at a simple level and we will explain how it works with drawings and practice slowly.
          </p>
				</div>
			</div>
		</div>
  </div>
  </section>  
<!-- Footer -->
<app-footer></app-footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>